<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>

    <!-- Favicon -->
    <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="" rel="stylesheet">

    <!-- Icons -->
    <link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!--  CSS -->
    <link type="text/css" href="/assets/css/argon-dashboard.css" rel="stylesheet">

</head>

<body>
<%- include('./partials/navigation.ejs') %>
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Form -->
            <%- include('./partials/searchForm.ejs')%>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <% if  (flash.danger){ %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span class="alert-inner--text"><%- flash.danger %></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                    <div class="card-header border-0">
                        <h1 class="mb-3">Reset User Password: <%- user.username %></h1>
                    </div>
                    <div class="container-fluid">
                        <form action="/users/resetpass/<%- user._id %>" method="post">
                            <h6 class="heading-small text-muted mb-4">User Password</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="password"
                                                   name="password"
                                                   class="form-control form-control-alternative"
                                                   placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="password"
                                                   name="confirmPassword"
                                                   class="form-control form-control-alternative"
                                                   placeholder="Confirm Password">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Reset" class="btn btn-block btn-primary mt-4">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        © 2020 <a href="https://anondevs.com" class="font-weight-bold ml-1" target="_blank">AnonDevs</a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                        <li class="nav-item">
                            <a href="https://anondevs.com" class="nav-link" target="_blank">AnonDevs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--   Core   -->
<script src="/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="/assets/js/argon-dashboard.min.js"></script>


</body>

</html>
